# payload stuff for webhooks #
pull.sh
payload.php

# Private files
payments/payer.php
phpinfo.php
layout-styles.css
robots.txt
urllist.txt
cPanel/

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# pers
insp.txt
