.methodbox {
  font-size: 16px;
  font-family: Rubik, Roboto, sans-serif;
  position: absolute;
  width: 40vw;
  padding: 5em;
  left: 5vw;
}

.methodbox1 {
  font-size: 16px;
  font-family: Rubik, Roboto, sans-serif;
  position: absolute;
  width: 40vw;
  padding: 5em;
  left: 60vw;
}

.methodbox h2 {
  color: #464646;
}

.seperator {
  border: 1px solid #ccc;
  width: 1px;
  height: 50vh;
  left: 50%;
  top: 50%;
  transform: translate(50%, 50%)
}
