.methodbox {
  font-size: 16px;
  font-family: Rubik, Roboto, sans-serif;
  position: absolute;
  width: 35vw;
  top: 50%;
  transform: translateY(-50%);
}

.methodbox h2 {
  color: #464646;
  margin-left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.methodbox p {
  padding: 1em;
}

.methodbox img {
  width: 6vw;
  margin-left: 2.2vw;
}

.paybtn {
  transform: translate(-50%);
  margin-left: 50% !important;
  width: 25vw !important;
  margin-bottom: 2vh;
}

.seperator {
  border: 1px solid #ccc;
  width: 0vw;
  height: 50vh;
  margin-left: 50%;
  top: 50%;
  transform: translate(50%, 50%)
}
