.homenav {
  position: fixed;
  top: 4.2em;
  height: 60pt;
  z-index: 2;
  overflow: hidden;
  width: 60%;
  right: 1em;
}
.homenav a {
  font-family: Montserrat;
  font-size: 2em;
  color: #ddd;
  text-decoration: none;
  border: none;
  filter: none;
}
.homenav a:hover {
  filter: none;
}
.homenav ul {
  display: flex;
  text-align: center;
  padding: 0;
}
.homenav ul li {
  display: inline-flex;
  padding: 2.5em;
  text-transform: uppercase;
  flex-grow: 1;
}
a {
  transition: all .2s ease;
}
.homenav ul li div {
  display: inline-block;
  width: 100%;
}
.homenav ul li:last-child div {
}
.homenav ul li div a {
  text-decoration: none;
}
.homenav ul li div a:hover {
  color: #999;
}

.apolg {
  position: absolute;
  height: 16%;
  top: 1em;
  left: 2em;
  z-index: 1;
}

.aposvg {
  z-index: 9;
  position: absolute;
  height: 40%;
  left: 13em;
  top: 1em;
}

@media only screen and (max-width: 1225px) {
  .homenav a {
    font-family: Montserrat;
    font-size: 1.7em;
    color: #ddd;
    text-decoration: none;
    border: none;
    filter: none;
  }
}
@media only screen and (max-width: 980px) {
    .apolg {
      position: absolute;
      height: 13%;
      top: 5.0em;
      left: 2em;
      z-index: 1;
    }
    .aposvg {
      z-index: 9;
      position: absolute;
      height: 40%;
      left: 11em;
      top: 1em;
      width: 20%;
    }
    .homenav a {
      font-size: 1.25em;
    }
    .homenav {
      position: fixed;
      top: 2.5em;
      height: 60pt;
      z-index: 2;
      overflow: hidden;
      width: 68%;
      right: 1em;
    }
}

@media only screen and (max-width: 700px) {
  .apolg {
    height: 10%;
  }
  .aposvg {
    left: 9em;
  }
  .homenav {
    width: 62%;
  }
}

@media (max-width: 550px) {
  .apolg {
    display: none;
  }
  .aposvg {
    height: 37%;
    left: 1.3em;
    width: 26%;
  }
  .homenav {
    top: 4em;
    width: 67%;
  }
	}

  @media (max-width: 450px) {
    .homenav a {
      font-size: 0.95em;
    }
  	}
