.nav {
  position: absolute;
  top: 1.8em;
  height: 60pt;
  z-index: 999;
  overflow: hidden;
  width: 60%;
  right: 1em;
}
nav {
  height: 100%;
  transition: box-shadow .25s ease;
}
nav a {
  font-family: Montserrat;
  font-size: 2em;
  color: #ddd;
  text-decoration: none;
  border: none;
  filter: none;
}
nav a:hover {
  filter: none;
}
nav ul {
  display: flex;
  text-align: center;
  padding: 0;
}
nav ul li {
  display: inline-flex;
  padding: 2.5em;
  text-transform: uppercase;
  flex-grow: 1;
}
a {
  transition: all .2s ease;
}
nav ul li div {
  display: inline-block;
  width: 100%;
}
nav ul li:last-child div {
}
nav ul li div a {
  text-decoration: none;
}
nav ul li div a:hover {
  color: #999;
}
